<div id="homepage">

  <div class="jumbotron" style="background-color: #3C376B; margin-bottom: 6px; border-radius:8px; color:whitesmoke; border:3px solid white ">

    <h1>Charity-x</h1>

    <p>Making Giving More Fun.</p>

    <p><a class="btn btn-success btn-lg" role="button">Learn more</a></p>

  </div>



  <div id="carousel-example-generic" style="display:none" class="carousel slide " data-ride="carousel" data-interval=10000 >
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>


    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <h4 class="carousel-header">Setup & Fund an Account</h4>

        <p class="carousel-contents">Deposits to your Charity-x account are tax-deductible in the current tax year.
          Manage your current year income. Manage your charitable donations from a single account.</p>
      </div>

      <div class="item">
        <h4 class="carousel-header">Make a Donation</h4>

        <p class="carousel-contents">Charity-x has over 1,000 worthy non-for-profit organizations in its database. Tell
          us where you'd like your dollars distributed. </p>
      </div>

      <div class="item">
        <h4 class="carousel-header">Have Fun with a Friend</h4>

        <p class="carousel-contents">Wager your Charity-x Account Dollars with Other Participants. The winner determines
          how the wagered funds get allocated. At the end of the day, the dollars will be going to a good cause.</p>
      </div>

      <div class="item">
        <h4 class="carousel-header">Feel Good</h4>

        <p class="carousel-contents">At the end of the day, know that your dollars are going to a good cause!</p>
      </div>

    </div>

    <!--&lt;!&ndash; Controls &ndash;&gt;-->
    <!--<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">-->
    <!--<span class=""></span>-->
    <!--<span class="sr-only">Previous</span>-->
    <!--</a>-->
    <!--<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">-->
    <!--<span class=""></span>-->
    <!--<span class="sr-only">Next</span>-->
    <!--</a>-->
    <!--</div>-->


  </div>
  </div>