<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>

<p>To reset your password, just follow this link: <%=link_to "charity-x-login", edit_password_reset_url(@unique_identifier) %> and follow the instructions.

</p>

</body>
</html>