<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
  <h1>Welcome to Charity-X%></h1>

  <h2> gSchool Alex sucks at Ping Pong!</h2>
  <p>
    You have successfully signed up to Charity-X.
    Your username is: <%= @user.username %>.  Login, fund your account and play.
  </p>

  <p>
    To login to the site, just follow this link: <%=link_to "charity-x-login", @url %>.
  </p>

  <p>Thanks for joining and have a great day!</p>
  </body>
</html>