<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
  <h1>Do you wanna wager></h1>


  <p>
    Someone has propositioned you to wager.... do you wanna play?

  </p>

  </body>
</html>