<% if proposed_wager.winner_id > 0 %>
  <% if kenny_loggins.id == proposed_wager.winner_id%>
    <div class="outcome">I Won!</div>
  <%else%>
    <div class="outcome">I Lost!</div>



    <% if kenny_loggins.account == proposed_wager.account%>

    <%= link_to "Rematch?", new_account_proposed_wager_path(proposed_wager.account, pwid: proposed_wager)%>
    <% else%>
    <%= link_to "Rematch?", new_account_proposed_wager_path(@account, pwid: proposed_wager) %>

    <%end%>







  <% if proposed_wager.wageree_outcome == "I Lost" || proposed_wager.wagerer_outcome == "I Lost" %>
    <% if kenny_loggins.account == proposed_wager.account%>
      <% if proposed_wager.wagerer_outcome == "I Lost"%>
        <div class="outcome">I Lost!</div>
      <%else%>
        <div class="outcome">I Won!</div>
      <%end%>
      <%= link_to "Rematch?", new_account_proposed_wager_path(proposed_wager.account, pwid: proposed_wager)%>
    <%else%>
      <% if proposed_wager.wagerer_outcome == "I Lost"%>
        <div class="outcome">I Won!</div>
      <%else%>
        <div class="outcome">I Lost!</div>
      <%end%>
      <%= link_to "Rematch?", new_account_proposed_wager_path(@account, pwid: proposed_wager) %>
    <%end%>