<div id="show_users">

  <div>
    Total Dollars: $<%= @total_chips.count * $ChipValue %> to date
  </div>

  <div>
    Dollars Distributed to Charities:
  </div>

  <div>
    Dollars Still w/ Winners:
  </div>

  <div>
    Dollars Still w/ You: $<%= @home_chips.count * $ChipValue %>
  </div>

</div>