require 'rails_helper'
require 'capybara/rails'

# 140 deposit , 10 loss, 20 contribution

feature "Track Allocations" do
  scenario "As a user, I can view where all of my dollars are" do
    visit "/charities/new"
    register_a_new_charity("United Way")
    visit "/charities/new"

    register_a_new_charity("Red Cross")
    register_users_and_create_a_wager("Alexander", "Stephen")
    make_a_deposit_to_their_account(100)
    click_on "Logout"
    login_user("Alexander")
    click_on "Shake on it!"
    click_on "Logout"
    login_user("Stephen")
    click_on "I Lost"
    distribute_funds_from_my_account(10, "United Way")
    click_on "Logout"
    login_user("Alexander")
    distribute_funds_from_my_account(10, "Red Cross")
    click_on "Logout"
    login_user("Stephen")
    visit "/users/show"
    # click_on "Show Me"
    # click_on "Where are my dollars?"
    expect(page).to have_css("#show_users")
    expect(page).to have_content("Total Dollars: $140")
    expect(page).to have_content("Dollars Still w/ You:$120")

    # expect(page).to have_content("Red Cross:10")
    # expect(page).to have_content("United Way:10")
    # expect(page).to have_content("Unassigned")
    # expect(page).to have_content("With another user")
    # expect(page).to have_content("Total:40")


    # within(page.find("#wager-funds")) {click_link "+"}
    # fill_in "wager_title", with: "Ping Pong Match between S & A"
    # fill_in "wager_date_of_wager", with: "2014-07-31"
    # fill_in "wager_details", with: "Game to 21, standard rules apply"
    # fill_in "wager_amount", with: 9
    # fill_in "With:", with: "alexandery"
    # click_on "Submit"


  #   <div>
  #     Dollars Distributed to Charities:
  #   </div>
  #
  # <div>
  #   Dollars Still w/ Winners:
  #     </div>
  #
  # <div>
  #   Dollars Still w/ You:
  #     </div>




  end
end