<h1>Where are my dollars?</h1>

<%= kenny_loggins.first_name %>

<hr/>

<table class="tbl tbl-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Deposited</td>
      <td>$<%=@dollar_locator.find_deposits%></td>
    </tr>

    <tr>
      <td> + Winnings </td>
      <td>$</td>
    </tr>

    <tr>
      <td> - Currently Wagered</td>
      <td>$</td>
    </tr>
    <tr>
      <td> - Distributed to a Charity by Me</td>
      <td>$</td>
    </tr>
    <tr>
      <td> - Someone Elses Account</td>
      <td>$</td>
    </tr>
    <tr>
      <td> - Distributed to a Charity by Someone Else</td>
      <td>$</td>
    </tr>

    <tr>
      <td>Net Balance In My Account</td>
      <td>$</td>
    </tr>




  </tbody>
</table>

