<div id="index_mvps">
  <h1>Minimum Viable Products Released</h1>
  <!--<a href="/">Back to Home</a>-->
  <%= link_to "Back to Home", root_path%>

  <%if current_user%>
    <%if current_user.is_admin?%>
      | <%=link_to "Add New", new_mvp_path%>
    <%end%>
  <%end%>
  <br/>
  <%@mvps.each do |mvp|%>
    <%=mvp.date%> - <%=mvp.description%><br/>
  <%end%>

</div>