<div id="new_deposits">

  <form method="POST" action="/deposits">
    <input type="hidden" name="account_id" value="<%=@account.id%>"/>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />


    <label for="amount">Amount:</label><br/>
    <input id= "amount" name="amount"/><br/>
    <label for="cc_number">Credit Card Number:</label><br/>
    <input id= "cc_number" name="cc_number"/><br/>
    <label for="exp_date">Exp Date:</label><br/>
    <input id= "exp_date" name="exp_date" type="date"/><br/>
    <label for="name_on_card">Name on Card:</label><br/>
    <input id= "name_on_card" name="name_on_card"/><br/>
    <input type="radio" name="radio_cc_type" id="visa" value="visa"/>
    <label for="visa">Visa</label>
    <input type="radio" name="radio_cc_type" id="mastercard" value="mastercard"/>
    <label for="mastercard">MasterCard</label>
    <br/>
    <button>Submit</button>
  </form>


</div>


</div>