/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.errors {
    color: red;
    margin-bottom: 1em;
    display:inline;
}

.field_with_errors {
    display:inline
}

.wrapper {
    margin-left: 20px;
    margin-right: 20px;
    /*background-color:#EDEEF2;*/
}


.navbar {
    padding-left: 10px;
    border:2px solid black;
    padding-top:10px;
    padding-bottom:10px;
    height:35px;
    margin-bottom: 20px;
    background-color:#0F2166;
    color:white;
}

.navbar_links {
    color:white;
    text-decoration: none;
}

.inline {display:inline-block;}

.right {
    float:right;
    margin-right: 10px;
    margin-top: 4px;
}

.left {
    float:left;
}

.nav_name {
    font-size:30px;
}

.sm {
    width:160px;
}

.xs {
    width:80px;
}

.btn {
    border-radius: 5px;
    color:black
}