/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/*NAVBAR--------------------------------------*/

/* navbar */
.navbar-color {
    background-color: #3C376B;
    border-color: white;
}

/* title */
.navbar-color .navbar-brand {
    color: whitesmoke;
}
.navbar-color .navbar-brand:hover,
.navbar-color .navbar-brand:focus {
    color: white;
}

/* link */
.navbar-color .navbar-nav > li > a {
    color: whitesmoke;
}
.navbar-color .navbar-nav > li > a:hover,
.navbar-color .navbar-nav > li > a:focus {
    color:  #3C376B;
}
.navbar-color .navbar-nav > .active > a,
.navbar-color .navbar-nav > .active > a:hover,
.navbar-color .navbar-nav > .active > a:focus {
    color: #D11134;
    background-color: #D11134;
}
.navbar-color .navbar-nav > .open > a,
.navbar-color .navbar-nav > .open > a:hover,
.navbar-color .navbar-nav > .open > a:focus {
    color: #D11134;
    background-color: #D11134;
}

/* caret */
.navbar-color .navbar-nav > .dropdown > a .caret {
    border-top-color: #D11134;
    border-bottom-color: #D11134;
}
.navbar-color .navbar-nav > .dropdown > a:hover .caret,
.navbar-color .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #D11134;
    border-bottom-color: #D11134;
}
.navbar-color .navbar-nav > .open > a .caret,
.navbar-color .navbar-nav > .open > a:hover .caret,
.navbar-color .navbar-nav > .open > a:focus .caret {
    border-top-color: #D11134;
    border-bottom-color: #D11134;
}

 /*mobile version */
.navbar-color .navbar-toggle {
    border-color: #DDD;
}
.navbar-color .navbar-toggle:hover,
.navbar-color .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-color .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-color .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-color .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-color .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

/*END NAVBAR-------------------------------*/


h2, h3 {
color:#3C376B;
}

.header {
   color: whitesmoke;
   background-color:#363633;
}


.activity-links {
    padding-left: 12px;
    background-color:#E69429;
    opacity: 0.80;
    border: 1px solid white;
    border-radius: 3px;
    margin-top: -20px;
}

.activity-links a {
    text-decoration: none;
    color:#363633
}

.highlight {
    background-color: white;
    color:black;
}

.highlight-row {
    background-color: #FCD59B;
}


.errors {
    color: red;
    margin-bottom: 1em;
    display:inline;
}

.field_with_errors {
    display:inline
}
