/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datetimepicker
 */



/*NAVBAR--------------------------------------*/

/* navbar */
.navbar-color {
    background-color: #3C376B;
    border-color: white;
}

/* title */
.navbar-color .navbar-brand {
    color: whitesmoke;
}
.navbar-color .navbar-brand:hover,
.navbar-color .navbar-brand:focus {
    color: white;
}

/* link */
.navbar-color .navbar-nav > li > a {
    color: whitesmoke;
}
.navbar-color .navbar-nav > li > a:hover,
.navbar-color .navbar-nav > li > a:focus {
    color:  #3C376B;
}
.navbar-color .navbar-nav > .active > a,
.navbar-color .navbar-nav > .active > a:hover,
.navbar-color .navbar-nav > .active > a:focus {
    background-color: #D11134;
}
.navbar-color .navbar-nav > .open > a,
.navbar-color .navbar-nav > .open > a:hover,
.navbar-color .navbar-nav > .open > a:focus {
    color: #D11134;
    background-color: whitesmoke;
}

/* caret */
.navbar-color .navbar-nav > .dropdown > a .caret {
    border-top-color: #D11134;
    border-bottom-color: #D11134;
}
.navbar-color .navbar-nav > .dropdown > a:hover .caret,
.navbar-color .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #D11134;
    border-bottom-color: #D11134;
}
.navbar-color .navbar-nav > .open > a .caret,
.navbar-color .navbar-nav > .open > a:hover .caret,
.navbar-color .navbar-nav > .open > a:focus .caret {
    border-top-color: #D11134;
    border-bottom-color: #D11134;
}

     /*mobile version */
    .navbar-color .navbar-toggle {
        border-color: #DDD;
}
.navbar-color .navbar-toggle:hover,
.navbar-color .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-color .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-color .navbar-nav .open .dropdown-menu > li > a {
        color: whitesmoke;
    }
    .navbar-color .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-color .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

/*END NAVBAR-------------------------------*/

body {
    background-color: #E6E7F2;
}

h2, h3 {
color:#3C376B;
margin-top: -5px;
}


.errors {
    color:red;
    display:inline-block;


}

.field_with_errors .form-control {
    display:inline-block;
    border:1px solid red;
}

.header {
   color: whitesmoke;
   background-color:#363633;
   display:inline-block;
   padding-top: 8px;
   height: 40px;
   margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}


.expanded-contents {
    background-color:#3C376B;
    color: whitesmoke !important;
}

.contents{
    display:inline-block;
    height: 40px;
    width: 40%;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    text-align:center;
    padding-top: 10px;
    color: black;
}


.drop-down-detail tr {
    text-align: center;
    margin: 50px;
}

.drop-down-detail tr th {
    font-weight: bold;
    text-align: center;
}


.blue-bordered {
    background-color:whitesmoke;
    border: 1px solid darkblue;
    border-radius: 10px;
    margin-bottom: 10px;
    /*padding-top: 8px;*/
}

.net-amount {
    background-color: #3C6E3D;
}

#net_amount {
    color:white;
}

.round-button {
    background-color:#3C376B;
    border: 3px solid whitesmoke;
    border-radius: 100%;
    color:white;
    display:inline-block;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 1px;
    margin-right: 5px;
    float:right;
    margin-top:-1px;
}


.wager-border {
    border: 1px solid darkblue;
    background-color: whitesmoke;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/*#wagers_table .btn {*/
    /*margin-top: 9px;*/
    /*margin-bottom: 5px;*/
/*}*/

/*#public-wagers .btn {*/
    /*margin-top: 9px;*/
    /*margin-bottom: 5px;*/

/*}*/

.button {
    color: white;
    margin-top: 4px;
    opacity:0.6;

    padding-top: 10px;
    padding-bottom: 10px;
}


.button-submit {
    background-color:  #1E521F;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 12px;
    text-align: center;
    margin-right: 30px;
}

.active-button {
    color: white;
    margin-top: 4px;
    opacity:0.70;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-withdraw {
    color:white;
    width: 100%;
    border-style: double;
    text-align: center;
    background-color: #526B28;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.team-name {
    font-size: 16px;
    color: #3C376B;
    font-weight: bold;
}

.week-name {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding-left: 2px;
}

.wager-show {
    font-size: 16px;
}


.button-won {
    background-color:  #1E521F;
    border-bottom-left-radius: 12px;
    width:49%;
}

.button-check {
    background-color:  #1E521F;
    color:white;
    width: 100%;
    border-style: double;
    text-align: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}


.button-shake {
    background-color:  #1E521F;
    border-bottom-left-radius: 12px;
    width:49%;
}

.button-pub-shake {
    background-color:  #1E521F;
    border-bottom-left-radius: 12px;
    width:100%;
    border-bottom-right-radius: 12px;

}


.button-no {
    background-color: maroon;
    border-bottom-right-radius: 12px;
    width: 49.5%;

}

.button-lost {
    background-color: maroon;
    border-bottom-right-radius: 12px;
    width: 49.5%;

}

.button-won {
    background-color:  #1E521F;
    border-bottom-left-radius: 12px;
    width:49%;

}



.no-decoration {
    text-decoration:none !important;
    color:white;
}

.no-decoration:hover {
    color:white
}



.outcome {
    display:inline-block;
}

/*.outcome-flag {*/
    /*display:none;*/
/*}*/


/*.outcome-show {*/
    /*display:inline-block;*/
    /*width:13px;*/
    /*height:13px;*/
    /*border:1px solid white;*/
    /*opacity:.5;*/
    /*margin-bottom: -1px*/
/*}*/

/*.completed {*/
    /*background-color: maroon;*/
    /*border-radius:100%;*/
/*}*/

/*.pending {*/
    /*background-color: darkgoldenrod;*/
    /*border-radius:100%;*/
/*}*/

/*.expired {*/
    /*background-color: black;*/
    /*border-radius:100%;*/
/*}*/

/*.accepted {*/
    /*background-color: darkgreen;*/
    /*border-radius:100%;*/
/*}*/

.wager-title {
    background-color:#5D5E5C;
    color:whitesmoke;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding-left: 5px;
    opacity:0.85;
}

.active-wager {
    background-color:#5D5E5C;
    color:whitesmoke;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding-left: 5px;
    opacity:1.0;
}


.wager-details {
    display:none;
}


.past-due-outcome {
    background-color:#E8A5AB;
}


#proposed_wagers_table .ui-selected {
    background-color:#E4EBBC;
}

.expand-icon {
    margin-top: 4px;
    margin-right: 4px;
    display:inline-block;
    font-size: 20px;
}

.title-text {
    /*display:inline-block;*/
}


.delete-icon {
    margin-top: 4px;
    margin-right: 4px;
    float: right;
    font-size: 20px;

}

.close {
    background-color: red;
    width:25px;
    height:25px;
}

.errors {
    color: red;
    margin-bottom: 1em;
    display:inline;
}

.field_with_errors {
    display:inline
}

.shade-out {
    background-color: red;
    width:90%;
}

.question {
    background-color: #1E521F;
    color:white
}

.wager-notes {
    background-color: whitesmoke;
    border: 1px, solid, #1E521F;
    border-radius: 3px;
    padding: 7px;
    display:none;
    margin-top:5px;
    font-size: 13px;
}

.plain-notes {
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    margin-top:5px;
}

.color-notes {
    background-color: #E1EBE1;
    padding: 5px;
    border-radius: 3px;
    margin-top:5px;

}

.drop-down-detail {
    display:none;
   margin-left: 10px;
    width: 97%;
    margin-bottom: 5px;
}

.wager-losses {
    /*display:none;*/
}

.wager-loss-header {
    padding-left: 24px;

}





